<div class="card m-1">
    <div class="card-img-wrapper">
        <a routerLink="/produto/{{produto?.nome}}">
            <img src="{{produto?.foto || './assets/user.png'}}" alt="" class="card-img-top">
        </a>
        <ul *ngIf="perm" class="list-inline member-icons animate text-center">
            <li class="list-inline-item">
                <button class="btn btn-primary" routerLink="/produto/edit/{{produto?.nome}}"><i class="fa fa-gear"></i></button>
            </li>
            <li class="list-inline-item">
                <button class="btn btn-danger" (click)="deleteProduto()"><i class="fa fa-trash"></i></button>
            </li>
        </ul>
    </div>
    <div class="card-body p-1">
        <h6 class="card-title text-center mb-1">
            <i class="fa fa-user me-2"></i>
            {{produto?.nome}} {{produto?.marca}}
        </h6>
        <p class="card-text text-muted text-center">R${{produto?.preco}}</p>
    </div>
</div>