<div class="row" *ngIf="produto">
    <div class="col-3 margin-left">
        <div class="card card-body">
            <carousel>
                <slide *ngFor="let foto of produto.fotos">
                  <img src="{{foto.url || './assets/produto.png'}}" alt="{{produto.nome}} {{produto.marca}}" style="display: block; width: 100%;">
                </slide>
            </carousel>
            <div class="card-footer">
                <div class="btn-group d-flex">
                    <div>
                        <button class="btn btn-primary">Comprar</button>
                        <button class="btn btn-success">Carrinho</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-8">
        <h3>{{produto.nome}} {{produto.marca}}</h3>
        <tabset class="member-tabset">
            <tab heading="Produto">
                <h4>Preço:</h4>
                <p *ngIf="produto.desconto == 0">
                    R${{produto.preco}}</p>
                <div class="list-inline" *ngIf="produto.desconto != 0">
                    <p class="list-inline-item" style="text-decoration:line-through">R${{produto.preco}}</p>
                    <p class="list-inline-item">- R${{produto.precoDesconto}}</p>
                </div>
            </tab>
            <tab heading="Descricao">
                <h4>Descricao</h4>
                <p>{{produto.descricao}}</p>
            </tab>
        </tabset>
    </div>
</div>