<div class="container" style="padding-top: 50px">
    <div *ngIf="!(registerMode || loginMode)">
        <div  style="text-align:center;">
            <h1>Mercado do zé</h1>
            <p class="lead">Os melhores preços para você economizar!</p>
            <div class="text-center">
                <button (click)="loginToggle()" class="btn btn-primary btn-lg me-2" *ngIf="!logado">Logar</button>
                <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2" *ngIf="!logado">Registrar-se</button>
                <button class="btn btn-primary btn-info btn-lg me-2" routerLink="/produtos"
                    routerLinkActive="active" *ngIf="logado">Produtos</button>
                <button class="btn btn-primary btn-info btn-lg me-2" routerLink="/produtos/vendendo"
                    routerLinkActive="active"  *ngIf="logado">Meus produtos</button>
            </div>
        </div>
        <hr>
        <div class="container" style="text-align:center;">
            <h2 style="padding: 20px 0px">Produtos em oferta</h2>
            <div class="row">
                <div class="col-3" *ngFor="let produto of produtosOferta">
                    <app-produto-card (deleteClicked)="loadProdutos()" [produto]="produto"></app-produto-card>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="loginMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-login (cancelLogin)="cancelLoginMode($event)"></app-login>
            </div>
        </div>
    </div>

    <div *ngIf="registerMode" class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
            </div>
        </div>
    </div>
</div>