<div class="row" *ngIf="produto">
    <div class="col-4">
        <h1>Seu perfil</h1>
    </div>
    <div class="col-6">
        <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
            <p><strong>Informação: </strong>Salve suas configurações para não perde-las!</p>
        </div>
    </div>
    <div class="col-4">
        <div class="card" style="width: 400px">
            <carousel>
                <slide *ngFor="let foto of produto.fotos">
                  <img src="{{foto.url || './assets/produto.png'}}" alt="{{produto.nome}} {{produto.marca}}" style="display: block; width: 100%;">
                </slide>
            </carousel>
            <div class="card-body">
                <div>
                    <strong>Produto:</strong>
                    <p>{{produto.nome}} {{produto.marca}}</p>
                </div>
                <div>
                    <strong>Preço:</strong>
                    <p *ngIf="produto.desconto == 0">
                        R${{produto.preco}}</p>
                    <div class="list-inline" *ngIf="produto.desconto != 0">
                        <p class="list-inline-item" style="text-decoration:line-through">R${{produto.preco}}</p>
                        <p class="list-inline-item">- R${{produto.precoDesconto}}</p>
                    </div>
                </div>
                <div>
                    <strong>Sessão:</strong>
                    <p>{{produto.sessao}}</p>
                </div>
            </div>
            <div class="card-footer">
                <button type="submit" 
                    [disabled]="!editForm.dirty" 
                    form="editForm" 
                    class="btn btn-success cos-12">Salvar
                </button>
                <button (click)="deleteProduto()" class="btn btn-danger cos-12">Excluir</button>
            </div>
        </div>
    </div>

    <div class="col-8">
        <tabset class="member-tabset">
            <tab heading="Produto">
                <form #editForm="ngForm" id="editForm" (ngSubmit)="updateProduto()">
                    <div class="d-flex flex-row align-items-center">
                        <label for="preco">Preço: </label>
                        <input type="text" 
                            [(ngModel)]="produto.preco" 
                            name="preco" 
                            class="form-control mx-2">
                        <label for="desconto">Desconto: </label>
                        <input type="text" 
                            [(ngModel)]="produto.desconto" 
                            name="desconto" 
                            class="form-control mx-2">
                        <label for="sessao">Sessão: </label>
                        <input type="text" 
                            [(ngModel)]="produto.sessao" 
                            name="sessao" 
                            class="form-control mx-2">
                    </div>
                    <h4>Descrição:</h4>
                    <textarea class="form-control" 
                        [(ngModel)]="produto.descricao" 
                        name="descricao"
                        rows="6"
                    ></textarea>
                </form>
            </tab>
            <tab heading="Editar fotos">
                <app-foto-editor [produto]="produto"></app-foto-editor>
            </tab>
        </tabset>
    </div>
</div>